body{
    background: #BE93C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #7BC6CC, #BE93C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    text-align: center;
    padding:50px;
}

img {
    width: 400px;
    height:550px;
    border-radius: 150px;
}

h1 {
    color: #1c31a7;
}

p {
    color: #11057c
}

a {
    display : block;
    color: #062255;
    border: 2px solid #2e1049;
    padding:15px;
    margin:15px;
    text-decoration: none;
    font-size: 25px;
    transition: 0.3s;
}

a:hover{
    background-color: #92b5e9;
    border-color: #4c6916;
    border-radius: 50px;
    transform:scale(1.2) rotate(5deg);
    letter-spacing: 10px;
    box-shadow: 5px 5px 5px #5a912d;
    font-weight: bold;

}
